<div class="col-xs-12 card">
  <div class="card-header">
    Failed requests list
  </div>
  <div class="card-content">
    <table class="table">
      <thead>
        <tr>
          <th>
            Url
          </th>
          <th>
            Method
          </th>
          <th>
            Body
          </th>
          <th>
            &nbsp;
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items">
          <td>{{item.url}}</td>
          <td>{{item.method}}</td>
          <td>{{item.body}}</td>
          <td>
            <button class="btn btn-default" (click)="retry(item)">
              Sync
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
